<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Controllers">
            <directory suffix="Test.php">tests/controller</directory>
        </testsuite>
        <testsuite name="Data">
            <directory suffix="Test.php">tests/data</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="BASEDIR" value="/home/nigel/eclipse-workspace/Architect/tests" />
        
        <env name="DB_HOST" value="172.17.0.4" />
        <env name="DB_USER" value="archTest" />
        <env name="DB_PASSWD" value="F9rk7zzEBc9GwOug" />
        <env name="DB_DBNAME" value="ArchTest" />
        <env name="WEB_HOST"  value="172.17.0.4" />
        <env name="CACHE_HOST"  value="172.17.0.5" />
        <env name="DOCKER_HOST"  value="tcp://172.17.0.1:2375" />
        <env name="TMP_DIR"  value="../tmp/" />
    </php>
</phpunit>
